# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Logs
logs/

# Artifacts
artifacts/

# Models
models/*.pkl
models/*.joblib

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db